{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}ログイン{% endblock %}

{% block contents %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">ログイン</h4>
            </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary btn-block">ログイン</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div> 

{% endblock %}