{% load markdown_extras %}
{% if object_list %}
    {% for comment in object_list %}
        <div class="card mb-3">
            <div class="card-body">
              <h6 class="card-title">
                    No.{{ forloop.counter }}&nbsp;
                    名前 : {{ comment.user_name }}&nbsp;
                    投稿日時 : {{ comment.create_date }}&nbsp;
                </h6>
                {{ comment.comment|markdown|safe }}<br>
                {% if comment.comment_image %}
                    <img src="{{ comment.comment_image.url }}"><br>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    まだ何も投稿されていません。
{% endif %}
